* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
}

h1 {
    color: darkorange;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5rem;
    letter-spacing: -1px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
    padding: .25rem;
    padding-left: 2rem;
    width: 50%;
}

@media (min-width: 650px) {
    h1 {
        font-size: 2.25rem;
        padding-left: 5rem;
        height: 5rem;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 3rem;
    }
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1rem;
    height: 4rem;

    width: 13%;
    cursor: pointer;
}

h3:hover {
    background: darkorange;
    color: black;
}

@media (min-width: 650px) {
    h3 {
        font-size: 1.75rem;
        padding: .25rem;
        width: 12%;
        height: 5rem;
    }
}

.navBar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    background: #222;
    z-index: 1;
}

.selected {
    border-bottom: 2px solid orange;
}

.square {
    float: left;
    width: 100%;
    min-height: 8rem;
}

@media (min-width: 800px) {
    .square {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .square {
        width: 33%;
    }
}

.photo {
    cursor: zoom-in;
}

.album {
    cursor: pointer;
}

.grid {
    /*left: 20%;*/
    /*width: 100%;*/
}

img {
    width:100%;
    height: auto;
    border: 3px solid #222;
    vertical-align: middle;
}

.square:after {
    content:'';
    display: block;
    clear: both;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2.5rem;
    text-shadow: 0px 0px 3px black;
}

.overlay:hover {
    color: white;
    background: rgba(0, 0, 0, 0.4);
    animation: fadeIn .5s;
}

.overlay span {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.hidden {
    display: none !important;
}

.lightbox-open {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: .7rem solid gray;
    border-top-color: white;
    position: absolute;
    top: 47%;
    left: 47%;
    animation: spin 1s linear infinite;
}

img.lightbox-image {
    max-height: 100%;
    max-width: 100%;
    width: initial;
    border: 2px solid #333;
}

.lightbox-image-container {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 99%;
}

@media (min-width: 800px) {
    .lightbox-image-container {
        width: 90%;
        height: 90%
    }
}

.lightbox-container {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    font-family: "Fjalla One", sans-serif;
    background: #222;
    animation: scale .4s;
}

.lightbox-control {
    /*display: block;*/
    color: rgba(255, 255, 255, 0.5);
    position: fixed;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
    font-size: 5rem;
}

.next {
    right: 0;
    bottom: 0;
    width: 50%;
    text-align: right;
}

.prev {
    left: 0;
    bottom: 0;
    width: 50%;
    text-align: left;
}

.close {
    right: 0;
    top: 0;
    font-size: 4rem;
    width: 20%;
    text-align: right;
}

.fullscreen {
    top: 0;
    left: 0;
    width: 20%;
    text-align: left;
    font-size: 4rem;
}

.lightbox-control:hover {
    color: white;
}

.tiny-logo {
    z-index: 1;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: darkorange;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    color: #222;
    /* text-align: center; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 3rem;
    box-shadow: 1px 1px 10px black;
    animation: enterFromBelow .5s;
    cursor: pointer;
}

.tiny-logo:hover {
    background: black;
    color: darkorange;
}

.tiny-logo-hidden {
    bottom: -10rem;
    animation: leaveToBelow 1s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes enterFromBelow {
    0% {
        bottom: -10rem;
        transform: rotate(360deg);
    }
    40% {
        bottom: 3rem;
    }
    100% {
        bottom: 1rem;
        transform: rotate(0deg);
    }
}

@keyframes leaveToBelow {
    0% {
        bottom: 1rem;
    }
    50% {
        bottom: -6rem;
        transform: rotate(270deg);
    }
    100% {
        bottom: -10rem;
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
